<app-navbar></app-navbar>
<div class="div-signin">
  <form class="form-signin" #myForm="ngForm"  novalidate>
    <h1 class="h3 mb-3 font-weight-normal">List of  Companys</h1>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th width="5%">
            <input type="checkbox" ng-model="all"/>
          </th>
          <th width="15%">Name</th>
           <th width="15%">Code</th>
          <th width="20%">Exchanges</th>
          <th width="30%">Company Profile</th>
          <th width="15%">Options</th>
          <th width="15%">Options</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let info of infoList;">
        <td><input type="checkbox" ng-checkee="all"/></td>
        <td>{{info.companyName}}</td>
        <td>{{info.companyCode}}</td>
        <td>{{info.exchangeId}}</td>
        <td>{{info.brief}}</td>
        <td><button class="btn btn-primary" type="buttton" (click)="editCompany(info.companyName)">edit</button></td>
        <td><button class="btn btn-primary" type="buttton" (click)="deleteCompany(info.companyName,info.companyCode,info.exchangeId,info.brief)">delete</button></td>
      </tr>
      </tbody>
    </table>
    <div>
      <ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
    </div>
    <button class="btn btn-lg btn-primary" style="width: 100px;" type="buttton" (click)='addCompany()'>Add</button>&nbsp;
  </form>
</div>

