<app-navbar></app-navbar>
<div class="div-signin">
  <form class="form-signin" #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)" novalidate>
    <h1 class="h3 mb-3 font-weight-normal">Confirm Company info</h1>
    <label class="form-control">{{companyname}}</label>
    <label class="form-control">{{turnover}}</label>
    <label class="form-control">{{ceo}}</label>
    <label class="form-control">{{directors}}</label>
    <label class="form-control">{{exchanges}}</label>
    <label class="form-control">{{sector}}</label>
    <label class="form-control">{{writeup}}</label>
    <label class="form-control">{{code}}</label>
    <button class="btn btn-lg btn-primary" style="width: 100px;" type="button" (click)="onback()">Back</button>&nbsp;
    <button class="btn btn-lg btn-primary" style="width: 100px;" type="submit">Save</button>
  </form>
</div>
